@import './colors';
@import './layout.scss';
@import './input-range';

:root {
  --heading-font: 'Quicksand', sans-serif;
  --text-font: 'Lato', 'Avenir', 'Segoe UI', 'Helvetica Neue', sans-serif;
  --heading-color: #464646;
  --input-font: 'Quicksand';
  --primary-color: #{$primary-color};
  --text-color: '#878787';
  --grey: #878787;
}

body {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  color: var(--text-color);
  font-family: var(--text-font);
}

a {
  color: var(--primary-color);
}

.text {
  &-primary {
    color: var(--primary-color, indianred);
  }
}

.back-arrow {
  width: 60px;
  padding-left: 25px;
  align-items: center;
  display: inline-flex;
  transition: all .2s ease-out;

  &::after, &::before {
    content: "";
    display: inline-block;
    transition: all .2s ease-out;
  }
  
  &::after {
    flex: 1;
    height: 1px;
    background-color: currentColor;
    transform: translate(-12px);
  }

  &::before {
    width: 10px;
    height: 10px;
    opacity: 0;
    border: solid 1px currentColor;
    border-color: transparent transparent currentColor currentColor;
    transform: rotate(45deg);
  }

  a:hover & {
    padding-left: 0px;

    &::before {
      opacity: 1;
    }
  }
}
@import './tailwind.min.css'