@import './layout.scss';

:root {
  --heading-font: 'Quicksand', sans-serif;
  --text-font: 'Lato', 'Avenir', 'Segoe UI', 'Helvetica Neue', sans-serif;
  --heading-color: #464646;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: var(--text-font);
}

@import './tailwind.min.css'
