.see-borders , .see-borders * {
    border: solid 1px black !important;
}

.stack {
    --gap: 1rem;

    &.stack-sm {
        --gap: .5rem;
    }

    >*+* {
        margin-top: var(--gap);
    }
}

.tab {
    --tab-gap: .5rem;

    >*+* {
        margin-left: var(--tab-gap, .5rem);
    }

    &.tab-larger > * {
        --tab-gap: 2rem;
    }
}

